In [1]:
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import pandas as pd
plt.style.use('ggplot')
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler

import re

pd.set_option('display.max_rows',500)
pd.set_option('display.max_colwidth', 500)

In [2]:
# Uploading datasets

best_cities = pd.read_csv('Best_Cities_for_Startups.csv')
best_countries = pd.read_csv('Best_Countries_for_Startups.csv')
city_pop = pd.read_csv('City_Populations.csv')
country_meta = pd.read_csv('Country_Metadata.csv')

### Exploring data composition - Schema, types, values

> Observing values and types

In [3]:
best_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ranking                       100 non-null    float64
 1   change in position from 2020  100 non-null    object
 2   country                       100 non-null    object
 3   total score                   100 non-null    float64
 4   quantity score                100 non-null    float64
 5   quality score                 100 non-null    float64
 6   business score                100 non-null    float64
 7   change in position sign       79 non-null     object
dtypes: float64(5), object(3)
memory usage: 6.4+ KB

In [4]:
city_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24664 entries, 0 to 24663
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  24664 non-null  object
 1   Year             24664 non-null  int64
 2   City             24664 non-null  object
 3   City type        24664 non-null  object
 4   Value            24664 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 963.6+ KB

In [5]:
country_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Code  265 non-null    object
 1   Region        217 non-null    object
 2   IncomeGroup   216 non-null    object
 3   SpecialNotes  98 non-null     object
 4   TableName     265 non-null    object
dtypes: object(5)
memory usage: 10.5+ KB

In [6]:
best_cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   position                      1000 non-null   int64
 1   change in position from 2020  1000 non-null   object
 2   city                          1000 non-null   object
 3   country                       1000 non-null   object
 4   total score                   1000 non-null   float64
 5   quatity score                 1000 non-null   float64
 6   quality score                 1000 non-null   float64
 7   business score                1000 non-null   float64
 8   sign of change in position    798 non-null    object
dtypes: float64(4), int64(1), object(4)
memory usage: 70.4+ KB

In [7]:
best_cities.describe()

          position  total score  quatity score  quality score  business score
count  1000.000000  1000.000000    1000.000000    1000.000000     1000.000000
mean    500.500000     2.433854       0.343920       1.223350        0.867160
std     288.819436    12.055121       1.347019      10.487355        1.148477
min       1.000000     0.037000       0.010000       0.010000        0.000000
25%     250.750000     0.190750       0.020000       0.030000        0.140000
50%     500.500000     0.367000       0.040000       0.040000        0.270000
75%     750.250000     1.362500       0.180000       0.140000        1.030000
max    1000.000000   328.966000      29.140000     296.020000        3.800000

In [8]:
best_cities.head(20)
best_countries.head(20)
country_meta.head(10)
# country_meta.loc[country_meta['Region'].isna()]

,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,ABW,Latin America & Caribbean,High income,NaN,Aruba
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in the North to the Cape of Good Hope in the South (https://www.worldbank.org/en/region/afr/eastern-and-southern-africa)",Africa Eastern and Southern
2,AFG,South Asia,Low income,Fiscal year end: March 20; reporting period for national accounts data: FY.,Afghanistan
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost point of Africa, across the equator, and partly along the Atlantic Ocean till the Republic of Congo in the South (https://www.worldbank.org/en/region/afr/western-and-central-africa)",Africa Western and Central
4,AGO,Sub-Saharan Africa,Lower middle income,NaN,Angola
5,ALB,Europe & Central Asia,Upper middle income,NaN,Albania
6,AND,Europe & Central Asia,High income,NaN,Andorra
7,ARB,NaN,NaN,Arab World aggregate. Arab World is composed of members of the League of Arab States.,Arab World
8,ARE,Middle East & North Africa,High income,NaN,United Arab Emirates
9,ARG,Latin America & Caribbean,Upper middle income,NaN,Argentina

> Cleaning up column names, eliminating spaces and normalizing formatting

In [22]:
#Replacing spaces with underscores

best_countries.columns = best_countries.columns.str.replace(' ','_')
best_countries.rename({'ranking_':'ranking','change_in_position_sign_':'change_in_position_sign'}, axis=1,inplace=True)

best_countries.columns

Index(['ranking', 'change_in_position_from_2020', 'country', 'total_score',
       'quantity_score', 'quality_score', 'business_score',
       'change_in_position_sign'],
      dtype='object')

In [10]:
best_cities.columns = best_cities.columns.str.replace(' ','_')
best_cities.columns

Index(['position', 'change_in_position_from_2020', 'city', 'country',
       'total_score', 'quatity_score', 'quality_score', 'business_score',
       'sign_of_change_in_position'],
      dtype='object')

In [23]:
##Replacing spaces with underscores and making all strings on column names lower case

city_pop.columns = city_pop.columns.str.replace(' ','_')
city_pop.columns = city_pop.columns.str.lower()
city_pop.columns

Index(['country_or_area', 'year', 'city', 'city_type', 'value'], dtype='object')

### Looking for most improved Countries

In [12]:
# change 'change_in_position_from_2020' column from object to int (non numeric objects need to be filtered out)

best_countries.loc[best_countries['change_in_position_from_2020']=='new  entry']

,ranking,change_in_position_from_2020,country,total_score,quantity_score,quality_score,business_score,change_in_position_sign
98,99.0,new entry,Namibia,0.165,0.04,0.05,0.07,NaN
99,100.0,new entry,Ethiopia,0.162,0.07,0.06,0.03,NaN

In [13]:
#remove rows with non numeric values - not useful - focus on change in ranking position

best_countries=best_countries[best_countries["change_in_position_from_2020"].str.contains(" ")==False]
best_countries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 0 to 97
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ranking                       96 non-null     float64
 1   change_in_position_from_2020  96 non-null     object
 2   country                       96 non-null     object
 3   total_score                   96 non-null     float64
 4   quantity_score                96 non-null     float64
 5   quality_score                 96 non-null     float64
 6   business_score                96 non-null     float64
 7   change_in_position_sign       79 non-null     object
dtypes: float64(5), object(3)
memory usage: 6.8+ KB

In [14]:
# Change change_in_position_from_2020 column type to int

best_countries["change_in_position_from_2020"]=best_countries["change_in_position_from_2020"].astype('int64')
best_countries.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 0 to 97
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ranking                       96 non-null     float64
 1   change_in_position_from_2020  96 non-null     int64
 2   country                       96 non-null     object
 3   total_score                   96 non-null     float64
 4   quantity_score                96 non-null     float64
 5   quality_score                 96 non-null     float64
 6   business_score                96 non-null     float64
 7   change_in_position_sign       79 non-null     object
dtypes: float64(5), int64(1), object(2)
memory usage: 6.8+ KB

In [15]:
# Removings NaN from best_cities['change_in_position_sign']

best_countries['change_in_position_sign'].fillna('=', inplace=True)
best_countries.head(10)

,ranking,change_in_position_from_2020,country,total_score,quantity_score,quality_score,business_score,change_in_position_sign
0,1.0,0,United States,124.420,19.45,101.17,3.80,=
1,2.0,0,United Kingdom,28.719,8.16,16.86,3.70,=
2,3.0,0,Israel,27.741,5.48,19.14,3.13,=
3,4.0,0,Canada,19.876,6.58,9.75,3.55,=
4,5.0,0,Germany,17.053,3.64,9.93,3.49,=
5,6.0,4,Sweden,15.423,2.40,9.24,3.78,+
6,7.0,7,China,15.128,1.33,11.46,2.34,+
7,8.0,0,Switzerland,14.943,3.82,7.58,3.54,=
8,9.0,2,Australia,13.835,4.46,5.88,3.50,-
9,10.0,6,Singapore,13.745,3.21,7.69,2.84,+

In [16]:
# For all countries that had a negative change in position sign, make the change in position from 2020 a negative numeral

best_countries.loc[best_countries['change_in_position_sign'] == '-', 'change_in_position_from_2020'] = best_countries['change_in_position_from_2020']*-1

In [17]:
best_countries

,ranking,change_in_position_from_2020,country,total_score,quantity_score,quality_score,business_score,change_in_position_sign
0,1.0,0,United States,124.420,19.45,101.17,3.80,=
1,2.0,0,United Kingdom,28.719,8.16,16.86,3.70,=
2,3.0,0,Israel,27.741,5.48,19.14,3.13,=
3,4.0,0,Canada,19.876,6.58,9.75,3.55,=
4,5.0,0,Germany,17.053,3.64,9.93,3.49,=
5,6.0,4,Sweden,15.423,2.40,9.24,3.78,+
6,7.0,7,China,15.128,1.33,11.46,2.34,+
7,8.0,0,Switzerland,14.943,3.82,7.58,3.54,=
8,9.0,-2,Australia,13.835,4.46,5.88,3.50,-
9,10.0,6,Singapore,13.745,3.21,7.69,2.84,+
10,11.0,-5,The Netherlands,13.700,3.44,6.96,3.30,-
11,12.0,0,France,13.286,3.03,6.85,3.41,=
12,13.0,-2,Estonia,12.428,3.19,5.77,3.47,-
13,14.0,-1,Finland,11.582,2.68,5.26,3.64,-
14,15.0,-6,Spain,11.146,3.48,4.35,3.31,-
15,16.0,-1,Lithuania,9.992,3.77,2.98,3.25,-
16,17.0,0,Russia,9.813,2.17,5.14,2.51,=
17,18.0,0,Ireland,9.633,2.51,3.68,3.44,=
18,19.0,0,South Korea,8.888,0.68,4.96,3.24,=
19,20.0,3,India,8.833,1.83,4.40,2.61,+
20,21.0,0,Japan,8.709,0.99,4.42,3.30,=
21,22.0,0,Denmark,8.368,2.04,2.68,3.65,=
22,23.0,1,Belgium,7.359,2.07,1.98,3.31,+
23,24.0,-4,Brazil,7.326,1.05,3.99,2.29,-
24,25.0,18,United Arab Emirates,6.951,1.73,2.42,2.80,+
25,26.0,4,Taiwan,6.946,1.50,2.09,3.36,+
26,27.0,4,Portugal,6.939,1.60,2.53,2.81,+
27,28.0,0,Austria,6.936,1.75,1.67,3.52,=
28,29.0,-4,Italy,6.602,1.68,1.87,3.06,-
29,30.0,-3,Poland,6.515,1.40,1.95,3.17,-
30,31.0,2,Norway,6.386,1.15,1.57,3.66,+
31,32.0,-6,Czechia,6.226,1.24,1.72,3.26,-
32,33.0,14,New Zealand,5.865,1.05,1.12,3.69,+
33,34.0,-5,Ukraine,5.705,1.01,2.09,2.60,-
34,35.0,-3,Bulgaria,5.209,1.88,0.58,2.75,-
35,36.0,-2,Chile,4.976,1.11,1.24,2.63,-
36,37.0,2,Croatia,4.907,0.97,1.06,2.88,+
37,38.0,3,Mexico,4.800,0.63,1.63,2.54,+
38,39.0,-1,Argentina,4.613,1.11,1.52,1.98,-
39,40.0,8,Malaysia,4.411,0.55,1.18,2.68,+
40,41.0,4,Romania,4.260,0.81,0.93,2.52,+
41,42.0,-6,Latvia,4.175,1.30,0.33,2.55,-
42,43.0,-3,Luxembourg,3.886,1.21,0.38,2.30,-
43,44.0,5,Turkey,3.723,0.87,0.72,2.14,+
44,45.0,9,Indonesia,3.657,0.32,1.82,1.52,+
45,46.0,-11,Slovenia,3.604,1.14,0.29,2.18,-
46,47.0,-1,Colombia,3.547,0.63,1.03,1.89,-
47,48.0,4,South Africa,3.518,0.49,1.15,1.89,+
48,49.0,-12,Hungary,3.445,1.06,0.34,2.04,-
49,50.0,0,Thailand,3.081,0.41,1.01,1.67,=
50,51.0,15,Uruguay,3.000,0.29,1.13,1.58,+
51,52.0,1,Philippines,2.852,0.53,0.81,1.52,+
52,53.0,-11,Serbia,2.680,0.85,0.29,1.53,-
53,54.0,-10,Greece,2.538,0.74,0.33,1.47,-
54,55.0,3,Iceland,2.177,0.54,0.36,1.27,+
55,56.0,-5,Slovakia,2.069,0.60,0.21,1.26,-
56,57.0,-2,Cyprus,1.854,0.55,0.23,1.08,-
57,58.0,2,North Macedonia,1.849,0.20,0.58,1.07,+
58,59.0,0,Vietnam,1.830,0.21,0.73,0.89,=
59,60.0,1,Malta,1.594,0.56,0.16,0.88,+
60,61.0,1,Kenya,1.565,0.26,0.43,0.88,+
61,62.0,-6,Peru,1.540,0.21,0.50,0.82,-
62,63.0,5,Nigeria,1.517,0.30,0.59,0.63,+
63,64.0,3,Jordan,1.108,0.24,0.26,0.60,+
64,65.0,-8,Armenia,1.078,0.35,0.13,0.59,-
65,66.0,9,Bahrain,0.946,0.27,0.15,0.52,+
66,67.0,-4,Belarus,0.936,0.32,0.12,0.50,-
67,68.0,1,Liechtenstein,0.923,0.23,0.12,0.57,+
68,69.0,-4,Rwanda,0.918,0.10,0.34,0.47,-
69,70.0,11,Egypt,0.893,0.27,0.26,0.36,+
70,71.0,17,Saudi Arabia,0.864,0.23,0.18,0.46,+
73,74.0,0,Lebanon,0.499,0.24,0.06,0.20,=
74,75.0,7,Pakistan,0.489,0.17,0.14,0.18,+
75,76.0,10,Kazakhstan,0.468,0.14,0.08,0.26,+
76,77.0,-13,Moldova,0.462,0.12,0.09,0.25,-
77,78.0,-6,Albania,0.451,0.12,0.10,0.23,-
78,79.0,-3,Jamaica,0.419,0.11,0.09,0.22,-
79,80.0,-1,Georgia,0.409,0.09,0.08,0.23,-
80,81.0,4,Ghana,0.399,0.10,0.11,0.18,+
81,82.0,-5,Tunisia,0.395,0.14,0.07,0.19,-
82,83.0,4,Panama,0.355,0.09,0.08,0.19,+
83,84.0,0,Qatar,0.352,0.10,0.09,0.17,=
84,85.0,-12,Bosnia and Herzegovina,0.351,0.10,0.08,0.17,-
85,86.0,-15,Ecuador,0.330,0.12,0.06,0.15,-
86,87.0,4,Cape Verde,0.319,0.15,0.05,0.11,+
87,88.0,5,Mongolia,0.314,0.10,0.05,0.16,+
88,89.0,-19,Azerbaijan,0.309,0.09,0.05,0.17,-
89,90.0,2,Kuwait,0.259,0.04,0.09,0.12,+
90,91.0,-11,Paraguay,0.253,0.07,0.06,0.12,-
91,92.0,7,Sri Lanka,0.245,0.09,0.04,0.12,+
92,93.0,5,Bangladesh,0.241,0.08,0.08,0.09,+
93,94.0,1,Somalia,0.224,0.14,0.05,0.04,+
94,95.0,-12,Morocco,0.220,0.06,0.05,0.12,-
95,96.0,-18,Dominican Republic,0.197,0.06,0.04,0.09,-
96,97.0,-8,Uganda,0.180,0.07,0.04,0.07,-
97,98.0,2,Nepal,0.172,0.06,0.04,0.08,+

In [18]:
#Exporting dataset to be used in tableau
best_countries.to_csv('best_countries_v2.csv', sep='\t', index=False)

In [19]:
best_countries['change_in_position_from_2020'].describe()

count    96.000000
mean     -0.343750
std       6.840788
min     -19.000000
25%      -4.000000
50%       0.000000
75%       4.000000
max      18.000000
Name: change_in_position_from_2020, dtype: float64